@charset "utf-8";

/*
Table of Contents

1.  GENERAL
2.  ACCESSIBILITY
3.  BACKGROUND LAYER
4.  MAIN MENU
5.  SKIP TO MAIN CONTENT BUTTON
6.  INTRO STUFF
      - logo (with link to song)
      - large arrow
      - quick tutorial/guided tour
      - Download/testing mode radio button
      - Pseudo characteristic selection bar
      - citation box
7.  WARNING FLAGS
      - Click-copy Chicago citations flag
      - Not available flag
8.  SELECTOR PRESET BUTTON
9.  DETAIL BOX
10. PERIODIC TABLE
      - Positioning
      - Individual element boxes 
11. DOWNLOAD TABLE BUTTON
12. PAGES
      - General
      - Content trees
      - About page
          -- Pullquote
          -- Contributors table
      - FAQ page
          -- Reading list citations
          -- Dormant citation box
          -- Download logo images
13. FOOTER

Note: Each numbered section above contains a 
media responsive section for elements within
that section.  */



/* ==================================================== 1. GENERAL */

/* Sets base for responsive text */
html{font-size:100%;}

/* Hide feature */
.hidden{display:none;}

/* Color scheme */
:root {
  --crisp: #00B89C;         /* Light minty teal */
  --light-grey: #E3E3E3;    /* Background grey */
  --medium-grey: #B5B5B5;   /* Low contrast grey */
  --dark-grey: #4B4B4D;     /* User input boxes and logo */
  --rusty: #C55A11;         /* Earthy orange */
  --dojo-red: #CC4444;      /* Not available bright red */
  --dojo-green: #5BC75B;    /* Available/success bright green */
}

/* Link style across website */
a {text-decoration:none;}
a:hover,
a:focus {
  text-decoration:none;
  background-color: var(--rusty);
  padding: 4px;
  outline: none;
  margin: -4px;
  border-radius: 3px;
  color: white !important;
}

/* Default sizing of images */
img {
  max-width:100%;
  height:auto;
}

/* Outline for keyboard focus */
*:focus, 
*:focus-visible {
  outline: 2px solid var(--crisp);
  outline-offset: 2px;
}

/* Display vertically and horizontally centered in box */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ==================================================== 2. ACCESSIBILITY */
/* We have striven for WCAG 2.2 compliance at level
AA: ideal support across the entire website. These are
some of the common accessibility feature classes.  */

/* Invisible text to be announced by screen reader */
.sr-only { 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip: rect(0,0,0,0); 
  clip-path: inset(50%);
  white-space: nowrap; 
  border: 0; 
}

/* Option for less stimulating animations */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* ==================================================== 3. BACKGROUND LAYER */
/* The background layer is light grey with lighter grey
lines drawn to frame the main content. It also includes
the graphical PseudoDojo logo. */

/* General */
body {
  margin: 0;
  background: var(--light-grey);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--dark-grey);
  align-items: center; 
}

/* Drawing on background: 
Count from left, v = vertical line
Count from top, h = horizontal line */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  background-repeat: no-repeat;
  background-image:
    url("../img/logo_light.svg"),                                           /* Logo */
    linear-gradient(to right, rgba(255,255,255,0.7) 4px, transparent 4px),  /* v1 */
    linear-gradient(to right, rgba(255,255,255,0.7) 4px, transparent 4px),  /* v2 */
    linear-gradient(to right, rgba(255,255,255,0.7) 4px, transparent 4px),  /* v3 */
    linear-gradient(to right, rgba(255,255,255,0.7) 4px, transparent 4px),  /* v4 */
    linear-gradient(to bottom, rgba(255,255,255,0.7) 4px, transparent 4px), /* h1 */
    linear-gradient(to bottom, rgba(255,255,255,0.7) 4px, transparent 4px), /* h2 */
    linear-gradient(to bottom, rgba(255,255,255,0.7) 4px, transparent 4px), /* h3 */
    linear-gradient(to bottom, rgba(255,255,255,0.7) 4px, transparent 4px), /* h4 */
    linear-gradient(to bottom, rgba(255,255,255,0.7) 4px, transparent 4px); /* h5 */
  background-size:
    280px 280px,                              /* Logo */
    4px 100vh,                                /* v1 */
    4px 14.5vh,                               /* v2 */
    4px 100vh,                                /* v3 */
    4px 100vh,                                /* v4 */
    calc(50% - 610px) 4px,                    /* h1 */
    50px 4px,                                 /* h2 */
    50px 4px,                                 /* h3 */
    100px 4px,                                /* h4 */
    100vw 4px;                                /* h5 */
  background-position:
    calc(59vw - 140px) calc(18vh - 140px),    /* Logo */
    calc(50% - 645px) 0,                      /* v1 */
    calc(50% - 610px) 0,                      /* v2 */
    calc(50% + 620px) 0,                      /* v3 */
    calc(50% + 670px) 0,                      /* v4 */
    0 14vh,                                   /* h1 */
    calc(50% + 645px) 35vh,                   /* h2 */
    calc(50% + 645px) 85vh,                   /* h3 */
    left calc(50% + 670px) top 90vh,          /* h4 */
    0 98vh;                                   /* h5 */
}

/* ==================================================== 4. MAIN MENU */
/* Important pages menu bar at top right of page. 
All static pages are listed here except for Legal & 
Privacy. On static pages, a Home button is added that
takes the user to index.html.  */

.menubar {
  position:fixed;
  display: inline-block;
  right:0%;
  top:0px;
  z-index:100;
  width:415px;
  height:auto;
}

/* Aligns menu items horizontally */
.menutext {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.menuitem {
  background: var(--dark-grey);
  width: 120px;
  height: 40px;
  padding: 5px 5px 5px 5px;
  margin: 0px 5px 0px 5px;
  border: none;
  border-radius: 0px 0px 6px 6px;
  -webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.25);
  font-size:20px;
  text-decoration:none;
  font-weight:bold;
  color: white;
  cursor: pointer;
}

.menuitem:hover,
.menuitem:focus {
  background: var(--crisp);
}

/* ==================================================== 5. SKIP TO MAIN CONTENT BUTTON */
/* Allows keyboard user to skip over main navigation content 
and go straight to main functionality of page. */

.skip-link {
  position: absolute;
  border: none;
  top: -60px;
  left: 20px;
  z-index: 100;
  padding: 12px 18px;
  background: var(--rusty);
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  transition:
    top 0.2s ease,
    opacity 0.2s ease;
  opacity: 0;
}

/* Appears when reached by keyboard */
.skip-link:focus,
.skip-link:focus-visible {
  top: 18px;
  opacity: 1;
  outline: 2px solid var(--crisp);
  outline-offset: 2px;
}

/* ==================================================== 6. INTRO STUFF */
/* Top of index.html. Intro class wraps: 
     - the logo (with link to song)
     - large arrow
     - quick tutorial/guided tour
     - Download/testing mode radio button
     - Pseudo characteristic selection bar
     - citation box */

.intro {
  position: relative;
  width: 700px;
  left: calc(50% - 490px);
  top: 0px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  gap: 0px;
  z-index: 5;
}

/* ---------------------- Logo and link to song */
.intro .logo {
  margin-top:6px;
  height:150px;
}

/* Image link */
.logoa:hover,
.logoa:focus {
  background-color: transparent !important;
  padding: 4px;
  outline: 2px solid var(--crisp);
  outline-offset: 2px;
}

.logo {
  cursor: pointer;
}

/* ---------------------- Large arrow */
.arrow img {
  height: 340px;
  width: auto;
  display: block;
}

/* ---------------------- Quick Tutorial */
/* Button under logo */
.help_button { 
  position:absolute;
  z-index:30;
  top:150px;
  left:160px;
  height: 26px;
  width:120px;
  color:#FFFFFF;
  font-size:14px;
  font-weight:bold;
  margin:8px 8px 7px 7px;
  padding:2px;
  background: var(--dark-grey);
  border:1px solid #A2A4A5;
  border-radius:5px;
  animation: zoomIn 2s 1;
}

.help_button:hover,
.help_button:focus {
  cursor: pointer;
  background: var(--crisp);
}

/* --- Inside guided tour: Shepherd classes --- */

/* Shifts box to avoid blocking highlighted element */
.shepherd-element[data-popper-placement^="bottom"] {
  transform: translateY(10px);
}

.shepherd-element[data-popper-placement^="top"] {
  transform: translateY(-10px);
}

/* Buttons inside tour */
.tour-button button {
  background: var(--crisp); 
}

.shepherd-button button:hover,
.shepherd-button:not(:disabled):hover {
  background: var(--rusty) !important;
}

.shepherd-cancel-icon {
  background-color: transparent !important;
}

/* Links inside tour */
.shepherd-element a {
  color: var(--crisp);
}

.shepherd-element a:hover {
  color: var(--rusty);
}

/* ---------------------- Radio button for Download vs. Testing Mode */
/* Called a radio button instead of toggle because the options
are not just yes and no, but two specific choices. Fieldset used
because disability friendly */

.mode-wrapper {
  position: absolute;
  top:210px;
  left:60px;
  width:230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

/* 'Click on an element to:' */
.toggle-label {
  font-size: 16px;
  font-style: italic;
  color: var(--crisp);
}

/* Track */
.mode-group {
  width: 200px;
  margin: 0;
  padding: 0px 4px 0px 5px; 
  height: 39px;
  border: none;
  border-radius: 999px;
  background: #BDBDBD;
}

.mode-option input {
  position: absolute;
  opacity: 0;
}

/* Label for each option */
.mode-option {
  flex: 1;
  padding: 4px 8px;
  margin-top: 4px;
  border-radius: 999px;
  cursor: pointer;
  color: #444;
  font-size: 13px;
  line-height: 0.9;
  transition: background .25s, color .25s;
}

/* Thumb slider style */
.mode-option:has(input:checked) {
  background: var(--crisp);
  color: white;
}

.mode-option:hover {
  background: rgba(255,255,255,.15);
}

.mode-option:has(input:focus-visible) {
  outline: 2px solid var(--rusty);
  outline-offset: 2px;
}

/* ---------------------- Pseudo Selection Bar */

/* Entire bar wrapper */
.selection_bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin: 10px 0px 0px -10px;
  z-index: 30 !important;
}

.selector {
  flex-direction: row;
  height: 25px;
  background: var(--dark-grey);
  padding: 5px 5px;
  border-radius: 5px;
}

.selector label {
  font-size: 15px;
  color: #ffffff;
  padding-left: 5px;
}

/* Dropdown menu: down arrow cannot be styled */
.selector select {
  margin-left: 10px;
  padding: 4px 6px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  background: rgba(255,255,255,0.9);
  color: #333;
  cursor: pointer;
  width: 150px;
}

.selector select:hover,
.selector select:focus {background: white;}

/* ----------------------------- Citation Box */
/* Click-copy citation box with Chicago and
BibTeX formats. Lists relevant citations that
dynamically update according to pseudo selection
options. Add or edit citations in JSON dictionary
in json/citations.json. */

.citation_box {
  position: absolute;
  left: 550px;
  top: 75px;
  width: 440px;
  height: 45px;
  display: flex;
  align-items: flex-start;
  z-index: 10;
  cursor: pointer;
}

/* Please Cite label on left */
.pleasecite {
  width: 60px;
  height: 35px;
  background: var(--crisp);
  color: white;
  padding: 5px;
  font-size: 16;
  text-align: right;
  border-radius: 6px 0px 0px 6px;
}

/* List of citations on right */
.citation {
  background: var(--dark-grey);
  color: white;
  height: 35px;
  width: 330px;
  padding: 5px;
  justify-content: left;
  border-radius: 0px 6px 6px 0px;
}

/* Each citation is a link. */
.citation a {
  color: var(--crisp);
  font-weight: 500;
  text-decoration: none;
}

/* BibTeX Download button: 
size is not WCAG AAA compliant */
.bibtex_download {
  margin-top: 30px;
  margin-left: -40px;
  padding: 3px 6px;
  cursor: pointer;
  background-color: var(--crisp);
  border: none;
  height: 25px;
  border-radius: 6px;
  color: white;
}

.bibtex_download:hover,
.bibtex_download:focus,
.bibtex_download:focus-visible {
  background-color: var(--rusty);  
}

/* ==================================================== 7. WARNING FLAGS */

/* ---------------------- Click-copy citation */
/* Flag raised when user clicks to copy Chicago 
citations from citation box. NOTE: lies outside 
of intro div. */
.citation-toast {
  z-index: 101;
  position: absolute;
  width: 300px !important;
  gap: 8px;
  padding: 10px 14px;
  background: var(--dojo-green);
  color: white;
  border-radius: 6px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -100%);
  transition: opacity .25s ease,
              transform .25s ease;
}

.citation-toast.show {
  opacity: 1;
  transform: translate(-50%, -120%);
}

/* Check mark */
.toast-check {
  width: 18px;
  height: 18px;
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

/* ------------------------------- Not available warning */
/* Raised when user clicks on element without 
available file content. */

.not-available-toast {
  position: absolute;
  z-index: 99;
  width: 270px;
  font-size: 1rem;
  gap: 8px;
  padding: 10px 14px;
  background: var(--dojo-red);
  color: white;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -100%);
  transition: opacity .25s ease,
              transform .25s ease;
}
  
.not-available-toast.show {
  opacity: 1;
  transform: translate(-50%, -120%);
}

/* ==================================================== 8. SELECTOR PRESET BUTTON */
/* Button that "advertizes" new pseudopotential tables or
makes popular ones easy to find. Right now, it advertizes
the new 4f lanthanides, so the button is down near the
lanthanides. But could be changed to anything in future. */

.preset-button {
  position: absolute;
  right: -110px;
  bottom: 142px;
  z-index: 30;
  width: 100px;
  padding: 8px 5px;
  margin-left: 0px;
  border: none;
  border-radius: 4px;
  background-color: var(--crisp);
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.preset-button:hover,
.preset-button:focus,
.preset-button:focus-visible {
  background-color: var(--rusty);
}

/* Splash marks indicating newness */
.eclat {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 22px;
  height: 22px;
  pointer-events: none;
}

/* ==================================================== 9. DETAIL BOX */
/* When element is hovered or focused, this box magnifies
the information included for that element, including: 
  - atomic number Z
  - atomic symbol
  - element name
  - number of valence orbitals 
    (obtained through meta info in files.json)
  - low, middle, high ecut suggestions
    (obtained through meta info in files.json).
The box adopts the color of the element, not the availability
information (like green or red or the checkmark/x-mark). It
is also not focusable or actionable itself. The box quantities
are labeled using whimsical squiggles and text. Default 
content is set in index.html and updated in js/dojo-tools.js
through set_X() and reset(X). */

/* Wraps detail box and squiggles/labels. */
.detail-wrap {
  position: absolute;
  display: inline-block;
  width: 220px;
  height: 180px;
  left: -30px;
  bottom: -22px;
}

/* Same as detail-wrap, but for F.A.Q. page. */
.detail-wrap-onpage {
  width: 220px;
  height: 180px;
  left: 45px;
  top: 42px;
  position: relative;
}

/* -------------------- Magnified element box */
/* Container */
.detail {
  position: absolute;
  width: 116px;
  height: 140px;
  padding: 6px;
  background: #fff;
  border: 1px solid #A2A4A5;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  box-sizing: border-box;
}

/* Atomic number */
.detail .zee {
  position: absolute;
  top: 6px;
  line-height: 1;
  left: 6px;
  width: 16px;
  height: 16px;
  font-size: 22px;
  display:flex;
  justify-content:left;
  align-items:left;
  transition:content .15s, transform .15s;
}

/* Number of valence orbitals (nv) */
.valence {
  position: absolute;
  top: 6px;
  right: 6px;
  line-height: 1;
  font-size: 22px;
}

/* Cutoff energy (ecut) hints */
.levels {
  position: absolute;
  right: 6px;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 18px;
  line-height: 1;
  text-align: right;
}

/* Atomic symbol */
.element {
  position: absolute;
  bottom: 22px;
  left: 6px;
  line-height: 1;
  font-size: 56px;
}

/* Element name */
.name {
  position: absolute;
  bottom: 6px;
  left: 6px;
  line-height: 1;
  font-size: 16px;
}

/* ------------------------------- Quantity labels */
.label {
  position: absolute;
  font-size: 16px;
  color: var(--crisp);
  font-style: italic;
  line-height: 85%;
  width: 20px;
}

/* For atomic number */
.label-z {
  top: -75px;
  left: -60px;
}

/* For number valence orbitals (nv) */
.label-nv {
  top: -25px;
  right: 30px;
  width: 150px;
  text-align: right;
}

/* Bracket for ecut suggestions */
.label-ecut {
  left: 150px;
  top: 57px;
}

.label-ecut sub{font-style: normal;}

/* ------------------------------- Whimsical squiggles */
/* The squiggles are svg images in img directory */

.squiggles {
  position: absolute;
  height: auto;
  pointer-events: none;
  z-index: 10;
}

/* For atomic number */
.atnum {
  top: -42px;
  left: -45px;
  width: 50px;
}

/* Bracket for ecut suggestions */
.bracket {
  top: 38px;
  left: 120px;
  width: 24px;
}

/* For number valence orbitals (nv) */
.vale {
  top: 3px;
  left: 112px;
  width: 50px;
  transform: rotate(5deg);
}

/* ==================================================== 10. PERIODIC TABLE */
/* The periodic table is the central part of the web
interface. It updates dynamically with the selected
options in the pseudopotential characteristics selection
bar. It showcases all 118 elements with information about:
    1. the physical element:
        -- atomic number
        -- atomic symbol
        -- element name
    2. the pseudopotential for it:
        -- availability in selected file format
        -- number of orbitals in the valence manifold
        -- low energy cutoff suggestion
        -- middle energy cutoff suggestion
        -- high energy cutoff suggestion.
On hover, the atomic number of the element box turns into
a checkmark or an 'x' depending on file availability, and 
the detail box magnifies the element box. 
Physical element information is given in a JSON dictionary
in js/dojo-tools.js. Pseudopotential information is read
from the json dictionary json/files.json, which is created
upon deployment of deploy.py and provides paths to the
pseudopotential files themselves in the tables directory. 
Colors for element types (transition metal, lanthanide, etc.) 
are arbitrarily selected, although they roughly make a 
rainbow across the screen. */

/* ------------------------------- Positioning */
.wrapper {
  width:1160px;
  position:relative;
  margin:-220px auto 0;
  min-height: 725px;
}

/* --- Positions of the elements ---  */
.plugin.nth-of-type-float,
.plugin:nth-of-type(2) {float:right;}

.plugin.nth-of-type-margin,
.plugin:nth-of-type(5),
.plugin:nth-of-type(13) {margin-left:660px;}

.plugin:nth-of-type(57) {
  margin-left:75px;
  margin-top:150px;
}

.plugin:nth-of-type(58),
.plugin:nth-of-type(59),
.plugin:nth-of-type(60),
.plugin:nth-of-type(61),
.plugin:nth-of-type(62),
.plugin:nth-of-type(63),
.plugin:nth-of-type(64),
.plugin:nth-of-type(65),
.plugin:nth-of-type(66),
.plugin:nth-of-type(67),
.plugin:nth-of-type(68),
.plugin:nth-of-type(69),
.plugin:nth-of-type(70),
.plugin:nth-of-type(71) {margin-top:150px;}

.plugin:nth-of-type(72){margin-left:195px;margin-top:-225px;}
.plugin:nth-of-type(73){margin-left:260px;margin-top:-225px;}
.plugin:nth-of-type(74){margin-left:325px;margin-top:-225px;}
.plugin:nth-of-type(75){margin-left:390px;margin-top:-225px;}
.plugin:nth-of-type(76){margin-left:455px;margin-top:-225px;}
.plugin:nth-of-type(77){margin-left:520px;margin-top:-225px;}
.plugin:nth-of-type(78){margin-left:585px;margin-top:-225px;}
.plugin:nth-of-type(79){margin-left:650px;margin-top:-225px;}
.plugin:nth-of-type(80){margin-left:715px;margin-top:-225px;}
.plugin:nth-of-type(81){margin-left:780px;margin-top:-225px;}
.plugin:nth-of-type(82){margin-left:845px;margin-top:-225px;}
.plugin:nth-of-type(83){margin-left:910px;margin-top:-225px;}
.plugin:nth-of-type(84){margin-left:975px;margin-top:-225px;}
.plugin:nth-of-type(85){margin-left:1040px;margin-top:-225px;}
.plugin:nth-of-type(86){margin-left:1105px;margin-top:-225px;}
.plugin:nth-of-type(87){margin-left:0px;margin-top:-150px;}
.plugin:nth-of-type(88){margin-left:65px;margin-top:-150px;}
.plugin:nth-of-type(89){margin-left:195px;}
.plugin:nth-of-type(104){margin-left:195px;margin-top:-225px;}
.plugin:nth-of-type(105){margin-left:260px;margin-top:-225px;}
.plugin:nth-of-type(106){margin-left:325px;margin-top:-225px;}
.plugin:nth-of-type(107){margin-left:390px;margin-top:-225px;}
.plugin:nth-of-type(108){margin-left:455px;margin-top:-225px;}
.plugin:nth-of-type(109){margin-left:520px;margin-top:-225px;}
.plugin:nth-of-type(110){margin-left:585px;margin-top:-225px;}
.plugin:nth-of-type(111){margin-left:650px;margin-top:-225px;}
.plugin:nth-of-type(112){margin-left:715px;margin-top:-225px;}
.plugin:nth-of-type(113){margin-left:780px;margin-top:-225px;}
.plugin:nth-of-type(114){margin-left:845px;margin-top:-225px;}
.plugin:nth-of-type(115){margin-left:910px;margin-top:-225px;}
.plugin:nth-of-type(116){margin-left:975px;margin-top:-225px;}
.plugin:nth-of-type(117){margin-left:1040px;margin-top:-225px;}
.plugin:nth-of-type(118){margin-left:1105px;margin-top:-225px;}

.plugin.nth-of-type-clear,
.plugin:nth-of-type(1),
.plugin:nth-of-type(3),
.plugin:nth-of-type(11),
.plugin:nth-of-type(19),
.plugin:nth-of-type(37),
.plugin:nth-of-type(55){
  clear:both;
  margin-left:0;
}

/* ------------------------------- Individual element boxes */

/* Box structures  */
.plugin {
  cursor:pointer;
  position:relative;
  width:55px;
  height:65px;
  float:left;
  margin:0 0 10px 10px;
  padding:2px;
  border:1px solid #A2A4A5;
  border-radius:2px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  -webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.25);
  -ms-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.25);
  box-sizing:border-box;
  counter-increment:plugins;
}

/* --- Element background/foreground colors --- */
.plugin.bg_hydrogen{background:#C5CEFF;}
.plugin.bg_alkali{background:#A3B2D7;}
.plugin.bg_alkaline{background:#A7C0D2;}
.plugin.bg_transition_metal{background:#BBECE2;}
.plugin.bg_post_transition_metal{background:#C7E1C2;}
.plugin.bg_metalloid{background:#E3DFBE;}
.plugin.bg_nonmetal{background:#E5C9A9;}
.plugin.bg_halogen{background:#D29292;}
.plugin.bg_noble_gas{background:#D26969;}
.plugin.bg_lanthanoid{background:#DFF4EA;}
.plugin.bg_actinoid{background:#F4D6D6;}
.plugin.bg_she{background:#82E0AA;}
.plugin.bg_unknown {
  background: var(--light-grey);
  color: var(--medium-grey);
}

.plugin.bg_unknown:hover {
  color: #610000 !important;
}

/* If element never has a pseudo */
.plugin.unavailable {
  background: var(--light-grey);
  color: var(--medium-grey);
}

.plugin.available,
.plugin.available * {
  color: #000000;
}

/* --- Element information and quantities --- */
.bg_unknown .valence,
.bg_unknown .l_top,
.bg_unknown .l_middle,
.bg_unknown .l_bottom {display: none !important;} 

/* Atomic number (zee) */
.plugin .zee {
  position: absolute;
  top:2px;
  left:3px;
  width:25px;
  font-size:12px;
  line-height:1;
  text-align: left;
}

/* If file available, 
show checkmark instead of zee */
.zee.ok{
  color:#051f05 !important;
  font-size:22px !important;
  width: 22px;
  height: 22px;
}

/* If file not available, 
show 'x' instead of zee */
.zee.bad{
  color:#610000 !important;
  font-size:22px !important;
  width: 22px;
  height: 22px;
}

/* Number of valence orbitals (nv) */
.plugin .valence {
  position: absolute;
  top:2px;
  right:3px;
  font-size:12px;
  line-height:1;
  text-align:right;
  width:15px;
}

/* Atomic symbol */
.plugin .element {
  position: absolute;
  bottom:14px;
  left:3px;
  font-size:20px;
  line-height:1;
  text-align:left;
}

/* Element name */
.plugin .name-wrap .name {
  position: absolute;
  bottom:2px;
  left:3px;
  font-size:9px;
  line-height:1.3;
  text-align:left;
  display:table-cell;
  vertical-align:middle;
}

/* low ecut suggestion */
.plugin .l_top {
  position: absolute;
  top:18px;
  right:2px;
  font-size:10px;
  line-height:1;
  text-align:right;
}

/* middle ecut suggestion */
.plugin .l_middle {
  position: absolute;
  top:28px;
  right:2px;
  font-size:10px;
  line-height:1;
  text-align:right;
}

/* high ecut suggestion */
.plugin .l_bottom {
  position: absolute;
  top:38px;
  right:2px;
  font-size:10px;
  line-height:1;
  text-align:right;
}

/* ==================================================== 11. DOWNLOAD TABLE BUTTON */
/* This button is in the lower right corner of the 
interface and allows the user to download tarballs of 
the entire periodic table according to selection criteria. 
The file paths to these tarballs are in json/targz.json,
which is created upon deployment of deploy.py.  */

.download_button {
  position: absolute;
  z-index: 100;
  right:0px;
  top:670px;
  width:200px;
  height:35px;
  color:#FFFFFF;
  font-size:18px;
  font-weight:bold;
  float:right;
  margin:8px 0px 7px 7px;
  padding:2px;
  background: var(--dark-grey);
  border:1px solid #A2A4A5;
  border-radius:5px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
}

.download_button:hover,
.download_button:focus {
  background: var(--crisp);
  cursor:pointer;
}

/* ==================================================== 12. PAGES */
/* There are four static pages across the site:
     -- About              (about.html)
     -- F.A.Q.             (faq.html)
     -- Contribute         (contribute.html)
     -- Legal & Privacy    (legal.html)
The Legal & Privacy page is only accessible via the footer
navigation. All other pages are in the main navigation bar
at the top right of the page. All pages have the same structure:
     -- Main navigation bar (with Home page button)
     -- PseudoDojo text logo linked to home page
     -- Smaller arrow pointing to content
     -- Header content announcing page
     -- Content tree
     -- Footer (with PseudoDojo text logo)
The content tree is a teal line (trunk) with an arrow travelling along
it as the user scrolls down. Tree nodes are white boxes that hold
content, and they alternate sides of the trunk. The nodes are connected 
to the trunk via branches: teal lines with circles that intersect the 
trunk. When the arrow passes a circle, the interface emits a subtle 
orange ripple for funsies. */


/* --------------------------------------- GENERAL */

/* --- Text highlights --- */
/* Orange */
.hili-or {
  font-weight: 600;
  color: var(--rusty);
}

/* Teal */
.hili-bl {
  font-weight: 600;
  color: var(--crisp);
}

/* Large arrow */
.arrow_page img {
  width: 38.719px;
  display: block;
}

/* --- Main content container --- */
.page-wrapper {
  position: relative;
  width:1160px;
  margin: 10px 10vw 0px 10vw;
  z-index: 5 !important;
}

.page-wrapper p,
.page-wrapper li,
.page-wrapper td {
  font-size: 1rem;
}

.page-wrapper h3 {
  font-size: 1.1rem;
}

.page-wrapper h2 {
  font-size: 1.5rem;
}

.page-wrapper a {
  color: var(--crisp);
}

.page-wrapper a:hover {
  color: var(--rusty);
  text-decoration: none;
}

/* --- Page headers --- */

/* Container */
.headsup {
  position: relative;
  display: flex;
  gap: 20px;
  background-color: rgba(255,255,255,0.5);
  width: 95%;
  height: 140px;
  padding: 20px;
}

/* Big page title */
.page_title {
  background-color: var(--crisp);
  border-radius: 6px;
  color: white;
  font-size: 1.3rem;
  width: 40%;
  height: 80%;
  padding: 0px 10px;
}

/* Brief explanation of page purpose */
.headline {
  display: block;
  float: left;
  width: 55%;
  height: auto;
  text-align: left;
}

/* --------------------------------------- CONTENT TREES */

/* Full tree + branches */
.tree{
  margin-top: -50px;
  position:relative;
  width:min(1100px,90vw);
  display:flex;
  flex-direction:column;
}

/* --- Tree trunk = Teal line --- */
.tree-trunk,
.tree-effects{
  position:absolute;
  inset:0;
  pointer-events:none;
}

#tree-svg{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
}

#tree-path{
  stroke: var(--crisp);
  stroke-width:4;
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
}

/* Arrow that travels tree trunk */
.tree-arrow{
  position:absolute;
  left:50%;
  top:100px;
  transform:translateX(-50%);
  width:0;
  height:0;
  border-left:12px solid transparent;
  border-right:12px solid transparent;
  border-top:18px solid var(--crisp);
  transition:transform .15s linear;
}

/* --- Orange ripple when arrow passes a node --- */
.tree-ripple{
  position:absolute;
  width:18px;
  height:18px;
  border:3px solid #F28C28;
  border-radius:50%;
  transform:translate(-50%,-50%) scale(.3);
  animation: ripple .8s ease-out forwards;
  z-index: 100;
}

@keyframes ripple {
  from{
    opacity:1;
    transform:translate(-50%,-50%) scale(.3);
  }
  to{
    opacity:0;
    transform:translate(-50%,-50%) scale(2.2);
  }
}

/* --- Tree nodes --- */

/* Content limbs, white boxes */
.tree-node{
  position:absolute;
  width:42%;
  padding:30px;
  background:white;
  border-radius:18px;
  box-shadow:0 8px 30px rgba(0,0,0,.08);
  margin-top: 0px;
}

/* Start on right */
.tree-node:nth-child(odd){
  right: 0;
}

/* Alternate sides */
.tree-node:nth-child(even){
  left: 0;
}

/* Branch stemming from trunk
to node. */
.tree-node::before{
  content:"";
  position:absolute;
  top:40px;
  width:30px;
  height:4px;
  background: var(--crisp);
}

/* Position of right branches */
.tree-node:nth-child(even)::before{
  right:-30px;
}

/* Position of left branches */
.tree-node:nth-child(odd)::before{
  left:-30px;
}

/* Circles intersecting tree trunk */
.tree-node::after{
  content:"";
  position:absolute;
  top:34px;
  width:16px;
  height:16px;
  border-radius:50%;
  background: var(--crisp);
  display: block;
  clear:both;
}

/* Position of right circles */
.tree-node:nth-child(even)::after{
  right:-35px;
}

/* Position of left circles */
.tree-node:nth-child(odd)::after{
  left:-35px;
}

/* End node at bottom of page */
.tree-end-node{
  position:absolute;
  width:18px;
  height:18px;
  border-radius:50%;
  background: var(--crisp);
  transform:translate(-50%,-50%);
}

/* --------------------------------------- ABOUT PAGE */
/* The About page has a pullquote and a 
table that organizes contributors alongside
their contributions to PseudoDojo. */

/* Pullquote */
.pullquote {
  background-image: url("../img/quotes_up.png"),
                    url("../img/quotes_dn.png");
  background-size: 35%, 35%;
  background-position: 0px 0px,
                       100% 100%;
  background-repeat: no-repeat;
  padding: 40px;
  font-size: 2.5rem;
  color: var(--rusty);
  font-weight: 50;
  line-height: 1.0;
  text-align: center;
}

/* --- Contributor table --- */

/* Full table class */
.contributors {
  width: 100%;
}

/* Name column */
.c1 {
  border-radius: 6px;
  padding: 5px 10px;
  background-color: #E0F7F2;
  color: var(--crisp);
  text-align: left;
}

/* Contribution column */
.c2 {
  padding: 5px 10px;
}

/* Column and row headers */
.contributors th {
  font-size: 1rem;
}

/* Column headers only */
.contributors .tabletop {
  text-align: left;
  font-size: 1rem;
  color: var(--rusty) !important;
  padding: 0.5rem;
}

/* Row headers only */
.person {
  justify-content: left;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* Contribution content cell */
.contributors td {
  vertical-align: top;
  border: 1px solid white;
}

/* Teal bold person name */
.person-name {
  white-space: nowrap;
  color: var(--crisp);
}

/* Container for link icons */
.person-links {
  display: inline-flex;
  gap: 0rem;
}

/* Style for all icon links */
.icon-link {
  width: 24px;
  height: 24px;
  display: inline-flex;
  border-radius: 4px;
  text-decoration: none;
  color: inherit;
}

/* SVG icons sizing */
.icon-link svg {
  width: 20px;
  height: 20px;
}

/* --------------------------------------- FAQ PAGE */
/* The F.A.Q. page has a suggested reading 
list with papers cited in Chicago style. 
It also provides the PseudoDojo logos as 
downloadable SVG files. */

/* --- Reading list citations --- */
.faq-citation {
  font-weight: 300;
  font-size: 12px;
}

.faq-citation-authors {
  color: var(--medium-grey);
}

/* --- Dormant citation box --- */
.citation_box_faq {
  position: relative;
  width: 440px;
  height: 45px;
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
  z-index: 10;
}

/* --- Download logo images --- */
.download-image{
  display:inline-block;
  cursor:pointer;
  text-decoration:none;
  border-radius:8px;
  transition:transform .15s ease;
  height: auto;
}

.download-image img{
  display:block;
  max-width:100%;
  height:auto;
}

.download-image:hover{
  transform:scale(1.03);
}

.download-image:focus-visible{
  outline:3px solid var(--crisp);
  outline-offset:4px;
}

.download-image:active{
  transform:scale(.98);
}

.legacy-logo{
  float:right;
}

/* --------------------------------------- Media Responsive */
@media(max-width:850px){

  .tree-trunk{
    left:25px;
  }

  .tree-node{
    width:calc(100% - 60px);
    margin-left:60px;
  }

  .tree-node::before{
    left:var(--nodule-left);
  }

  .tree-node::after{
    left:-43px !important;
  }

  .page-wrapper {
    width: 1vw;
  }

  .headsup {
    flex-direction: column;
    width: 95vw;
    height: auto;
  }

  .page_title {
    margin-top: 10px;
    padding: 10px;
    width: 85%;
    padding: 0px 10px 0px 10px;
  }

  .headline {
    display: block;
    width: 85%;
  }

}

/* ==================================================== 13. FOOTER */
/* Footer includes a second, comprehensive navigation
bar and, on the static pages, a smaller PseudoDojo text logo.
The footer is otherwise identical across all pages.  */

/* Footer container */
.dojo-footer{
  height: 100px;
  padding: 0px 9vw 25px 7vw;
  border-top:1px solid #D9D9D9;
  font-size:14px;
  line-height:1.6;
  height: auto;
  width:100vw;
  z-index: 99;
  box-sizing: border-box;
}

/* --- Navigation bar --- */
.footer-links{
  flex-wrap:wrap;
  line-height: 1rem;
  gap:5px;
  justify-content: left;
  width: calc(100% - 200px);
  font-size: 1.35rem;
}

.footer-links a{
  color: var(--crisp);
  text-decoration:none;
  padding: 10px;
}

.footer-links a:hover,
.footer-links a:focus,
.footer-links a:focus-visible{
  color:white;
  text-decoration:none;
  margin: 0px;
  background-color: var(--crisp);
  border-radius: 6px;
}

/* Copyright box lower left */
.copyright {
  padding:10px;
  color: white;
  font-size: 0.75rem;
  background-color: var(--medium-grey);
  border-radius: 6px;
}

/* --------------------------------- Media Responsive */
@media (max-width:700px){
  .dojo-footer{
    flex-direction:column;
    align-items:flex-start;
  }
}

